.Button{
    background-color: skyblue;
    color: white;
    font-weight: 900;
    font-size: xx-large;
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
    box-shadow: 25px 25px 20px grey;
    margin-left:15px;
    margin-bottom:15px;
}
.Button>img{
    width: auto;
    max-width: 128px;
    height: 64px;
}
.Button:hover{
    box-shadow: 15px 15px 20px grey;
}
.clicked{
    box-shadow: 5px 5px 20px rgb(192, 192, 192) !important;
    border:1px solid grey;
}
